@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body
{
    margin: 0pt;

    background-color: #333333;
    color: white;

    font-family: Lexend, sans-serif;

    user-select: none;
}

*
{
    font-family: Lexend, serif;
    letter-spacing: initial;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mark, .panel, .input, .block, .button
{
    padding-inline: 8pt;
    padding-block: 1pt;
    
    color: white;
    border-radius: 20pt;
    
    font-size: 12pt;
    font-weight: 500;
    letter-spacing: 0.2rem;

    background-clip: border-box;
    background-repeat: no-repeat;
    
    z-index: -1;
}
.input
{
    letter-spacing: inherit;
}
.panel, .input, .block, .button
{
    margin: -2pt;
    
    border: 4pt black solid;
    
    z-index: 1;
}
.block, .button
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 6pt 6pt 0 black, inset 0 0 0 black;
    
    transform: translate(-1pt, -1pt);

    text-transform: uppercase;
    text-decoration: none;

    background-clip: border-box;
    background-repeat: no-repeat;
}

.mark.large, .panel.large, .input.large, .block.large, .button.large
{
    padding-inline: 6pt;
    padding-block: 1pt;
    
    font-size: 16pt;
    font-weight: 500;
}

.mark.mega, .panel.mega, .input.mega, .block.mega, .button.mega
{
    padding-inline: 8pt;
    padding-block: 2pt;
    
    font-size: 32pt;
    font-weight: 500;
}

.input:hover, .input:focus-visible, .button:hover, .button:focus-visible
{
    filter: brightness(120%);
}
.button:hover, .button:focus-visible
{
    box-shadow: 6pt 6pt 0 2pt black, inset 0 0 0 black;
}

.input:active, .button:active
{
    filter: brightness(80%);

    box-shadow: 0 0 0 black, inset 2pt 2pt 0 black;
}
.button:active
{
    transform: translate(1pt, 1pt);

    box-shadow: 0 0 0 black, inset 4pt 4pt 0 black;
}

.normal-text
{
    letter-spacing: initial;
    text-transform: none;
}