body
{
    margin: 0pt;

    background-color: #333333;
    color: white;

    font-family: Lexend, serif;

    user-select: none;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button
{
    padding-inline: 8pt;
    padding-block: 2pt;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    border: 4pt black solid;
    border-radius: 32pt;
    box-shadow: 6pt 6pt black, inset 0 0 black;
    
    font-size: 16pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    text-decoration: none;

    background-clip: border-box;
    background-repeat: no-repeat;
}

.button:hover, .button:focus-visible
{
    filter: brightness(120%);
    
    box-shadow: 8pt 8pt black, inset 0 0 black;
}

.button:active
{
    transform: translate(2pt, 2pt);

    filter: brightness(80%);

    box-shadow: 0 0 black, inset 2pt 2pt black;
}